/* Link Style 
*************************************/
a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;

}
a:hover,
a:focus {
  color: #fff;
  text-decoration: none;
}


/*MARGIN-STYLES
*************************************/

/*Normal-margin*/
.margin {
    margin: 15px;
}
.margin-top {
    margin-top: 15px;
}
.margin-right {
    margin-right: 15px;
}
.margin-bottom {
    margin-bottom: 15px;
}
.margin-left {
    margin-left: 15px;
}

/*Larger Margin*/
.margin-large {
    margin: 50px;
}
.margin-large-top {
    margin-top: 50px;
}
.margin-large-right {
    margin-right: 50px;
}
.margin-large-bottom {
    margin-bottom: 50px;
}
.margin-large-left {
    margin-left: 50px;
}

/*Smaller Margin*/
.margin-large {
    margin: 5px;
}
.margin-small-top {
    margin-top: 5px;
}
.margin-small-right {
    margin-right: 5px;
}
.margin-small-bottom {
    margin-bottom: 5px;
}
.margin-small-left {
    margin-left: 5px;
}

/*Reset Margin*/
.margin-remove {
    margin: 0px;
}
.margin-top-remove {
    margin-top: 0px;
}
.margin-right-remove {
    margin-right: 0px;
}
.margin-bottom-remove {
    margin-bottom: 0px;
}
.margin-left-remove {
    margin-left: 0px;
}

/*PADDING-STYLES
*************************************/

/*Normal-padding*/
.padding {
  padding: 15px;
}
.padding-top {
  padding-top: 15px;
}
.padding-right {
  padding-right: 15px;
}
.padding-bottom {
  padding-bottom: 15px;
}
.padding-left {
  padding-left: 15px;
}

/*Larger padding*/
.padding-large {
  padding: 50px;
}
.padding-large-top {
  padding-top: 50px;
}
.padding-large-right {
  padding-right: 50px;
}
.padding-large-bottom {
  padding-bottom: 50px;
}
.padding-large-left {
  padding-left: 50px;
}

/*Smaller padding*/
.padding-large {
  padding: 5px;
}
.padding-small-top {
  padding-top: 5px;
}
.padding-small-right {
  padding-right: 5px;
}
.padding-small-bottom {
  padding-bottom: 5px;
}
.padding-small-left {
  padding-left: 5px;
}

/*Reset padding*/
.padding-remove {
  padding: 0px;
}
.padding-top-remove {
  padding-top: 0px;
}
.padding-right-remove {
  padding-right: 0px;
}
.padding-bottom-remove {
  padding-bottom: 0px;
}
.padding-left-remove {
  padding-left: 0px;
}

/* Plceholder twiks */
input::placeholder {
    color: #ccc;
}

.badge-circle {
  height: 80px;
  width: 80px;
  font-size: 24px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  border: 4px solid #fff;
  background: transparent;
  padding-top: 12px;
}

.badge-circle-bg {
  height: 70px;
  width: 70px;
  color: #121212;
  font-size: 24px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  border: none;
  background: #fff;
  padding-top: 12px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.4);
}

/* Spinner */
.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    /* margin: 100px auto; */
  }
  
.navbar .spinner {
  width: 20px;
  height: 20px;
}

.mini-spinner .spinner {
  float: left;
  width: 20px;
  height: 20px;
}

  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }

/* Spinner Cube */
  .sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); 
  }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; 
  }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    } 
  }
  
  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    }
  }

  /* Spinner Cube 2 */
  .spinner-cube {
    width: 40px;
    height: 40px;
    background-color: #fff;
  
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }

  /* Badge-ReDesigned */
.modules .badge-primary {
  border: 2px solid rgb(0, 122, 255);
  background: rgba(0, 122, 255, 1)!important;
}

.modules .badge-primary:hover,
.modules .badge-primary:focus {
  background: rgba(0, 122, 255, 0.5);  
  border: 2px solid rgba(0, 122, 255, 1);
  box-shadow: 0px 0px 10px 2px rgba(0, 122, 255, 1);
  outline: none;
}  

.modules .badge-success {
  /* border: 2px solid rgba(73, 217, 97, 0); */
  font-size: 12px!important;
  float: left!important;
  color: rgb(255, 255, 255)!important;
  margin-left: 0!important;
  background: rgb(74, 217, 99)!important;
}


/* .badge-success:hover,
.badge-success:focus {
  background: rgba(76, 217, 100, 0.5);  
  border: 2px solid rgba(73, 217, 97, 1);
  box-shadow: 0px 0px 10px 2px rgba(76, 217, 100, 1);
  outline: none;
}   */

.modules .badge-danger {
  border: 2px solid rgb(255, 59, 48);
}

.modules .badge-danger:hover,
.modules .badge-danger:focus {
  background: rgba(255, 59, 48, 0.5);  
  border: 2px solid rgba(255, 59, 48, 1);
  box-shadow: 0px 0px 10px 2px rgba(255, 59, 48, 1);
  outline: none;
}

/* Materialize Switch Tweaks */

/* Switch On  */
.switch label .lever {
  background-color: rgb(255, 59, 48);
}

/* Switch Off */
.switch label input[type=checkbox]:checked+.lever {
  background-color: rgb(74, 217, 99);
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #fff;
}